{% load static %}
<footer class="py-2 text-black bg-dark navbar-dark">
    <div class="container content text-center">
        <ul class="list-unstyled text-center justify-content-center border-bottom pb-3 mb-3">
            <li>
                <p class="display-6 text-white">Realizado por:</p>
            </li>
            <li>
                <p class="text-white">Alejandro Jiménez Pérez</p>
            </li>
        </ul>
        <p class="text-center text-white">© 2025 AlquilaPistas, Inc</p>
        <a href="https://x.com/?lang=es"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://es.linkedin.com/"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/"><i class="bi bi-github"></i></a>
    </div>
</footer>