<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <ul class="menu cf">
        <li><a href="alquila_pistas/index.html">Inicio</a></li>
        <li>
            <a href="alquila_pistas/rent.html">Alquiler de Pistas</a>
            <ul class="submenu">
                <li><a href="alquila_pistas/create_group.html">Crear grupo</a></li>
                <li><a href="alquila_pistas/join_group.html">Unirse a un grupo</a></li>
                <li><a href="alquila_pistas/Sports_pavilion_court">Pistas de Pabellon</a></li>
                <li><a href="alquila_pistas/beach_court">Pistas de playa</a></li>
            </ul>
        </li>
        <li><a href="alquila_pistas/about us">Sobre Nosotros</a></li>
        <li><a href="alquila_pistas/contact us">Contactanos</a></li>
    </ul>
</nav>