<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top shadow">
    <div class="container-fluid">

        <!-- Logo a la izquierda, en negrita y más visible -->

        <a class="navbar-brand fw-bold text-uppercase" href="{% url 'alquila_pistas:IndexView' %}">AlquilaPistas</a>

        <!-- Botón para responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces alineados a la derecha -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav align-items-center gap-2">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Alquiler de Pistas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'alquila_pistas:create_group' %}">Crear grupo</a></li>
                        <li><a class="dropdown-item" href="{% url 'alquila_pistas:JoinGroup' %}">Unirse a un grupo</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'alquila_pistas:SportsPavilionCourtView' %}">Pistas de
                            Pabellón</a></li>
                        <li><a class="dropdown-item" href="{% url 'alquila_pistas:BeachCourtView' %}">Pistas de
                            playa</a></li>
                    </ul>
                </li>

                <!-- Otros enlaces -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alquila_pistas:AboutView' %}">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alquila_pistas:ContactView' %}">Contáctanos</a>
                </li>
            </ul>
            <div class="text-end">
                <form method="post" action="{% url 'alquila_pistas:logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Cerrar sesión" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</nav>
