{% extends 'base.html' %}
{% block title %}Logout / AlquilaPistas{% endblock %}
{% block content %}
   <div class="container d-flex justify-content-center align-items-center min-vh-50">
        <div class="alert alert-secondary text-center shadow-lg p-5 rounded-4 mt-5" role="alert" style="background-color: rgba(50,49,49,0.63);">
            <h1 class="display-4 fw-bold" style="color:white">¡Sesión cerrada!</h1>
            <p class="lead "style="color:white">Has cerrado sesión correctamente. Esperamos que vuelvas pronto</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Iniciar sesión nuevamente</a>
        </div>
    </div>
{% endblock %}