{% extends "base.html" %}
{% load static %}
{% block links %}
    <div class="container my-5">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-5">
                <h3 class="mb-4 text-center text-primary fw-bold">Contáctanos</h3>
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombreInput" class="form-label">Nombre y Apellidos</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Correo electrónico</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="mb-4">
                        <label for="mensajeTextarea" class="form-label">Mensaje</label>
                        {{ form.message }}
                        {{ form.message.errors }}
                    </div>
                    {% if 'ok' in request.GET %}
                        <div class="alert alert-success mt-5" role="alert">
                            <strong>¡Mensaje enviado!</strong> Gracias por contactarnos.
                        </div>
                    {% endif %}

                    {% if 'error' in request.GET %}
                        <div class="alert alert-danger mt-5" role="alert">
                            <strong>¡Mensaje fallido!</strong> Intentelo de nuevo
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-4">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}