{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <!-- Caja principal que ocupa-->
    <div class="caja caja-principal text-black">
        <h1>Bienvenido a AlquilaPistas</h1>
        <h4>Pistas listas, equipos en marcha.</h4>

        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/pelota-golpeando-la-red.jpg' %}" alt="playa1" class="carousel-img mx-auto d-block">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/nina-jugando-voleibol.jpg' %}" alt="playa4" class="carousel-img mx-auto d-block">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/vista-lateral-de-la-mujer-y-el-hombre-jugando-voleibol-de-playa.jpg' %}" alt="playa7" class="carousel-img mx-auto d-block">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <!-- Cuatro cajas organizadas en una cuadrícula de 2x2 -->
    <div class="grid-2x2 text-black">
        <a href="{% url 'alquila_pistas:create_group' %}" class="nav-link">
            <div class="caja animada">
                <h2>Crear Grupo</h2>
                <p>Elige tu horario desde cualquier lugar.</p>
                <img src="{% static 'img/crear.jpg' %}" alt="Crear Grupo" class="carousel-img mx-auto d-block">
            </div>
        </a>
        <a href="{% url 'alquila_pistas:JoinGroup' %}" class="nav-link">
            <div class="caja animada">
                <h2>Unirse a un Grupo</h2>
                <p>Canchas disponibles cerca de ti.</p>
                <img src="{% static 'img/unirse.jpg' %}" alt="Unirse a un Grupo" class="carousel-img mx-auto d-block">
            </div>
        </a>
        <a href="{% url 'alquila_pistas:SportsPavilionCourtView' %}" class="nav-link">
            <div class="caja animada">
                <h2>Pistas de Interior</h2>
                <p>Tarifas por hora para todos los bolsillos.</p>
                <img src="{% static 'img/pista_interior1.jpg' %}" alt="Pistas de Interior" class="carousel-img mx-auto d-block">
            </div>
        </a>
        <a href="{% url 'alquila_pistas:BeachCourtView' %}" class="nav-link">
            <div class="caja animada">
                <h2>Pistas de Exterior</h2>
                <p>Atención al cliente para resolver tus dudas.</p>
                <img src="{% static 'img/playa6.jpg' %}" alt="Pistas de Exterior" class="carousel-img mx-auto d-block">
            </div>
        </a>
    </div>
{% endblock %}
