{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Noticias</title>
        <style>
            .card-title {
                font-size: 1.25rem;
                font-weight: bold;
            }

            .card-text {
                font-size: 1rem;
                line-height: 1.6;
            }

            .card-footer {
                background-color: transparent;
                border-top: none;
            }

            .card-img-top {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>

    <div class="container my-5">
        <h2 class="text-center text-primary fw-bold mb-5">Pistas de Interior</h2>

        <div class="row g-4">
            <!-- Carta 1 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior1.jpg" class="card-img-top" alt="Noticia 1">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón Sierra del Sol</h5>
                        <p class="card-text"><strong>Localización: </strong>Granada (Barrio del Zaidín)</p>
                        <p class="card-text">Moderna instalación con capacidad para 2000 espectadores, destaca por su
                            iluminacion LED y suelo de tarima flotante</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 2 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior2.png" class="card-img-top" alt="Noticia 2">
                    <div class="card-body">
                        <h5 class="card-title">Palacio del Vóley Guadalquivir</h5>
                        <p class="card-text"><strong>Localización: </strong>Sevilla (Isla de la Cartuja)</p>
                        <p class="card-text">Diseñado específicamente para voleyball, con gradas retráctiles</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 3 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior3.png" class="card-img-top" alt="Noticia 3">
                    <div class="card-body">
                        <h5 class="card-title">Centro Deportivo Costa del Vóley</h5>
                        <p class="card-text"><strong>Localización: </strong>Málaga (Rincón de la Victoria)</p>
                        <p class="card-text">Recinto de alto rendimiento con tecnología de seguimiento de movimiento y
                            retransmisión en streaming</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 4 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior4.jpg" class="card-img-top" alt="Noticia 4">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón Bahía Arena</h5>
                        <p class="card-text"><strong>Localización: </strong>Cádiz (Zona Extramuros)</p>
                        <p class="card-text">Instalación cubierta junto al mar con ventilación natural y gradas para
                            1500 personas</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 5 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior5.png" class="card-img-top" alt="Noticia 5">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón el Olivar</h5>
                        <p class="card-text"><strong>Localización: </strong>Jaén (Bulevar Sur)</p>
                        <p class="card-text">Reconocido por su escuela de formación de voleyball. Tiene pistas con
                            techos altos y marcaje digital</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 6 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior6.png" class="card-img-top" alt="Noticia 6">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón Alhambre XXI</h5>
                        <p class="card-text"><strong>Localización: </strong>Almería (Zona Nueva Andalucía)</p>
                        <p class="card-text">Estructura moderna, con enfoque en el disfrute de los espectadores</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 7 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior7.png" class="card-img-top" alt="Noticia 7">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón Los Toruños</h5>
                        <p class="card-text"><strong>Localización: </strong>El Puerto de Santa María (Cádiz)</p>
                        <p class="card-text">Con vistas al parque natural, es una referencia al voleyball en la bahia de
                            Cádiz</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>

            <!-- Carta 8 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior8.png" class="card-img-top" alt="Noticia 8">
                    <div class="card-body">
                        <h5 class="card-title">Pabellon Sierra Morena Vóley</h5>
                        <p class="card-text"><strong>Localización: </strong>Córdoba (Districto Norte)</p>
                        <p class="card-text">Instalación polivalente especializada en deportes de pista. Incluye
                            graderíos móviles y sistekma de climatizacion eficiente</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Mas Información</a>
                    </div>
                </div>
            </div>

            <!-- Carta 9 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0 carousel-img">
                    <img src="../../static/img/pista_interior9.jpg" class="card-img-top" alt="Noticia 9">
                    <div class="card-body">
                        <h5 class="card-title">Pabellón La Vega Vóley</h5>
                        <p class="card-text"><strong>Localización: </strong>Huelva (Zona Molino de la Vega)</p>
                        <p class="card-text">Pabellon comunitario con una pista oficial y salas de entrenamiento.
                            Destaca por su ambiente familiar</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'alquila_pistas:create_group' %}" class="btn btn-outline-primary btn-sm">Crear Grupo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>

{% endblock %}